<ion-view view-title="Connexion">
    <ion-content class="padding">
        <div class="list" style="text-align: center;">

            <span class="appIcon">
                <img src="img/icon.png" alt=""/>
            </span>

            <p>Brocante vous permet de donner des objets <br/>
                via une simple photo ou récupérer autours de <br/>vous, telle une
                vraie brocante de quartier. <br/>Bonne chasse !</p>

            <p>Vous devez vous connecter à Facebook <br/>
                pour nous permettre d'avoir votre email <br/>
                et photo de profil.</p>

            <p>Nous ne partagerons rien sur Facebook <br/>
                sans vôtre consentement, promis !</p>

            <button ng-if="tryAuth" class="button button-block button-calm" ng-click="signInFacebook()">
                Se connecter avec Facebook
            </button>
            <p ng-if="!tryAuth">Identification...</p>
        </div>
    </ion-content>
</ion-view>